version: "3.9"
services:
  server:
    build: ./server
    environment:
      - SERVER_HOST=0.0.0.0
      - SERVER_PORT=8000
    ports:
      - "8000:8000"
    depends_on: []
  client:
    build: ./client
    ports:
      - "5173:5173"
    depends_on: []
